<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div>
          <h3>Register</h3>
        </div>
        <div class="row">
          <form action="/users" method="post" class="form-horizontal">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <div class="form-group">
            <label for="inputFirst_name" class="col-sm-5 control-label">First Name</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" id="inputFirst_name" name="user[first_name]"> 
              </div>
            </div>
            <div class="form-group">
            <label for="inputLast_name" class="col-sm-5 control-label">Last Name</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" id="inputLast_name" name="user[last_name]"> 
              </div>
            </div>
            <div class="form-group">
            <label for="inputEmail" class="col-sm-5 control-label">Email</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" id="inputEmail" name="user[email]"> 
              </div>
            </div>
            <div class="form-group">
            <label for="inputPassword" class="col-sm-5 control-label">Password</label>
              <div class="col-sm-7">
                <input type="password" class="form-control" id="inputPassword" name="user[password]"> 
              </div>
            </div>
            <div class="form-group">
            <label for="inputConfirm" class="col-sm-5 control-label">Confirm Password</label>
              <div class="col-sm-7">
                <input type="password" class="form-control" id"inputConfirm" name="user[password_confirmation]"> 
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-primary btn-sm">Register</button> 
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-offset-1">
          <h3>Login</h3>
        </div>
        <form action="/sessions" method="post" class="form-horizontal">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <div class="form-group">
              <label for="inputEmail" class="col-sm-5 control-label">Email</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" id="inputEmail" name="email">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword" class="col-sm-5 control-label">Password</label>
              <div class="col-sm-7">
                <input type="password" class="form-control" id="inputPassword" name="password">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-primary btn-sm">Login</button>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--   <div class="form-group">
    <p>
        <label for="txtBookSearch" class="control-label">Search for a Book!</label>
        <div class="input-group">
          <input class="form-control ui-autocomplete-input" id="txtBookSearch" type="text" autocomplete="off">
        </div>
    </p>
  </div>
  <div id="divDescription"></div> -->


